
  <div class= "container">
  	<div class = "row">
  			<div class = "col-xs-12">
             <p id = "title"> Input Field </p>
             <label for="userForm"> Username: </label>
             <input class= "text" class="form-control" [(ngModel)] = "userName" id = "userForm">
             <br/>
             <button class="btn btn-primary" [disabled]="userName === ''" (click)="emptyUserName()">  Reset </button>
              <h3><p> {{ userName }} </p></h3>
  			</div>
    	</div>
</div>
  
  

 


